h1 {
  background-color: yellow;
  width: 50%;
  margin: 0 auto 20px;
  padding: 5px;
}

a {
  background-color: #0ecee7;
  color: black;
  border-radius: 5px;
  padding: 10px;
}

a:hover {
  background-color: orangered;
  text-decoration: none;
}

ul {
  text-align: left;
  width: 50%;
  margin: 20px auto 15px;
}
